@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #01020366;
  border-radius: 10px;
}

.font-calsans {
  font-family: "Cal Sans", s "system-ui";
}
.font-inter {
  font-family: var(--font-inter);
}

.btn {
  cursor: pointer;
}

body {
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}
.box-shadow {
  box-shadow: 0 -5px 45px 10px black, 0 -10px 60px 10px black;
}
.blur-effect {
  filter: url(#blur-filter);
}

.golden-text {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
}

.staggered {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.highlight {
  position: relative;
  text-decoration: none;
  transition: color 1s ease;
}

.highlight::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.highlight:hover {
  color: #000;
}
.highlight:hover::before {
  transform: scaleX(1);

  transform-origin: left;
}

.globalcard,
.card,
.frosted-glass {
  /* background-color: rgba(255, 255, 255, 0.103); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(7px);
  background: linear-gradient(
    130deg,
    #02002456 1%,
    rgba(2, 0, 36, 0.144) 33%,
    rgba(2, 0, 36, 0.068) 67%,
    rgba(0, 212, 255, 0) 100%
  );
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground scroll-smooth;
  }
}
